.banner{
    font-family: sans-serif;
    text-align: center;
}
.banner h1{
    padding: 1em;
    text-align: center;
    color: darkgreen;
    font-family: sans-serif;
    font-weight: bold;
    word-spacing: normal;
}    

 
.contents{
    font-family: sans-serif;
    text-align: center;
}
.contents h1{
    text-align: center;
    color: darkgreen;
    word-spacing: normal;
    font-family: sans-serif;
    font-weight: bold;
}

.huge{
    font-family: sans-serif;
    text-align: center;
}
.huge h1{
    text-align: center;
    color: darkgreen;
    word-spacing: normal;
    font-family: sans-serif;
    font-weight: bold;
}
.hacks{
    font-family: sans-serif;
    text-align: center;
}
.hacks h1{
    text-align: center;
    color: darkgreen;
    word-spacing: normal;
    font-family: sans-serif;
    font-weight: bold;
}
.cook{
    font-family: sans-serif;
    text-align: center;
}
.cook h1{
    text-align: center;
    color: darkgreen;
    word-spacing: normal;
    font-family: sans-serif;
    font-weight: bold;
}
.image1{
    padding: 1em;

}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #0e0d0d;
    text-transform: uppercase;
    background-color:orange;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}